body {
    text-align: center;
    color: rgb(38,76,152);
  }

  .logoKaluc{
    max-width: 26em;
            height: auto;
            display: block;
            margin: 0 auto;
  }
  
  @media (min-width: 576px) {
    .Head-section {
      h1 {
        font-weight: 300;
        margin-bottom: 1rem;
        color:rgb(38,76,152);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding-top: 0.5rem;
      }
    }
    
    .Info-section {
      text-align: center;
      padding-left: 13rem;
      padding-right: 13rem;
      margin-top: 2rem;
  
      p {
        margin-bottom: 1rem;
        font-weight: 300;
        text-align: center;
        line-height: 1.5rem;
        color: black;
      }
      .History_section {
        margin-top: 3rem;
        padding-bottom: 1rem;
        background-color: #faf9f6;
        color: black;
  
        p {
          padding-left: 1rem;
          padding-right: 1rem;
          font-weight: 100;
        }
  
        h3 {
          padding-bottom: 2rem;
          font-weight: 200;
        }
  
        &__tittle {
          margin-bottom: 2rem;
          background-color: #a3a3a3;
          font-weight: 600;
          font-size: 2rem;
          color: rgb(38,76,152);
          text-transform: uppercase;
          padding: 1rem 1rem 1rem 1rem;
        }
      }
  
      &-cards {
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
      }
  
      &__Mision,
      &__Vision {
        width: auto;
        max-width: 400px;
        height: auto;
        background-color: #a3a3a3;
        margin: 3rem 2rem 2rem 3rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
        transition: clip-path 0.8s;
        h2 {
          color: rgb(38,76,152);
          padding-top: 0.3rem;
          padding-bottom: 1rem;
          font-size: 1.9rem;
          font-weight: 600;
        }
        p {
          font-weight: 100;
          color: rgb(38,76,152);
        }
      }
    } 
  
  }
  @media (max-width: 768px) {
    .Info-section__cards {
      display: flex;
      justify-content: center;
      flex-direction: column;
  
    }
    }
  