.Formato-general {
  max-width: 400px;
  margin: 1.5em auto;
  padding: 15px;
  border: 1px solid;
  border-radius: 6px;
  background-color: rgba(133, 133, 133, 0.4);
  font-family: Arial, sans-serif; 
}
.buttonform {
  width: 40%;
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgb(114,61,144);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  &:hover {
    background-color: rgb(165, 165, 165);
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

  @media (max-width: 576px) {
  
  }

  .Formulario-alta {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      font-weight: bold;
      color: var(--color-primario-oscuro);
    }

    input[type="text"] {
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: rgb(38,76,152);
        outline: none;
      }
    }

    input[type="checkbox"] {
      transform: scale(2.1);
      margin-top: 8px;
      accent-color: var(--color-whatsapp);
     
    }
  }